@import "reset.css";

#img1 {
    background-image: url("../img/bebe.jpeg");
    background-size: 120%;
    background-repeat: no-repeat;
    height: 736px;
}

#logo img {
    width: 60%;
    margin: 3% 0 0 35%;
}

#contenu {
    width: 100%;
    height: 260px;
    background: #2A2929; /* fallback color if gradients are not supported*/
    background: -webkit-linear-gradient(1deg,rgba(42,41,41,0.7) 30%, rgba(29,29,29,0.2) 100%, #FFFFFF, #FFFFFF);
    background: -moz-linear-gradient(1deg,rgba(42,41,41,0.7) 30%, rgba(29,29,29,0.2) 100%, #FFFFFF, #FFFFFF);
    background: -o-linear-gradient(1deg,rgba(42,41,41,0.7) 30%, rgba(29,29,29,0.2) 100%, #FFFFFF, #FFFFFF);
    background: linear-gradient(1deg,rgba(42,41,41,0.7) 30%, rgba(29,29,29,0.2) 100%, #FFFFFF, #FFFFFF);
    position: absolute;
    bottom: 0;
    padding: 30px 10px;
}

h2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 1.4em;
}

p {
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}

.rond img {
    width: 12%;
    float: left;
    margin-top: 20px;
    margin-left: 40px;
}

.rond .validate {
    float: right;
    margin-top: 20px;
    margin-right: 40px;
}



.sidepanel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3D3D3D;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.2s;
}

.sidepanel a img {
    width: 10%;
    margin-right: 10px;
    float: left;
}

.barre {
    width: 78%;
    height: 2px;
    background-color: #1D569F;
    margin: 10px 0 10px 20%;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #59f160;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    float: left;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    border: none;
    background-color: rgba(248, 249, 255, 0);
}

#img2 {
    background-image: url("../img/soccer.jpeg");
    background-size: 120%;
    background-repeat: no-repeat;
    height: 736px;
    opacity: 0;
    display: none;
}

#img3 {
    background-image: url("../img/achat.jpeg");
    background-size: 120%;
    background-repeat: no-repeat;
    height: 736px;
    opacity: 0;
    display: none;
}

/*//////////////////////////////////
              CONTACT
//////////////////////////////////*/




h3 {
    text-align: center;
    margin: 40px 0 70px 0;
    font-size: 2.5em;
    text-transform: uppercase;
}

h4 {
    text-align: center;
    margin: 40px 0 70px ;
    font-size: 2.5em;
    text-transform: uppercase;
}

.formpage {
    width: 80%;
    margin: 0 10%;
}


.formpage input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    border: 1.5px solid black;
    padding-left: 20px;
}

.formpage textarea{
    background-color: white;
    padding: 12px 20px;
    color: gray;
    border-radius: 5px;
    border: 1.5px solid black;
    opacity: 80%;
    width: 95%;
    max-width: 95%;
    min-width: 95%;
    height: 200px;
    max-height: 400px;
}

.formpage #boutonenvoyer {
    width: 60%;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4em;
    background-color: #25313C;
    margin: 80px 20%;
    transition: all 0.5s;
}

.formpage span {
    display: block;
}

.mouv {
    margin: 350px 0;
    text-align: center;
    font-size: 3vw;
    text-transform: uppercase;
}

.separation2 {
    width: 100%;
    margin-bottom: 3%;
}

.centre {
    margin-left: 32%;
}

.separation3 {
    width: 50%;
    margin: 0 0 3% 22%;
}

.ici {
    display: inline;
    float: left;
    position: absolute;
    margin-top: 440px;
    margin-left: 47%;
    font-size: 1.5em;
}

.ici a {
    color: #527dd2;
}

.ici a:hover {
    color: black;
}















